.SGP-Navbar {
  background-color: #009378 !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold !important;
  height: 100px !important;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "DejaVu Sans Mono", monospace !important;
  font-size: 20px !important;
  background-image: url("bg.png") !important;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.list {
  width: 200px;
  height: 300px;
  overflow-y: scroll;
}

.cont {
  background-color: #f5f9ee;
  margin-bottom: 20px;
  border-radius: 10px !important;
}

.mainColor {
  color: #f5ebeb !important;
  font-size: 28px !important;
}

.below {
  margin-top: 20px !important;
}

.iconColor {
  color: #f7aa00;
}

.spg-button {
  background-color: #009378 !important;
  border: black !important;
}

.secondColor {
  color: #1ee494 !important;
}

.thirdColor {
  color: #009378 !important;
}

.se-button {
  background-color: #009378 !important; /* Green */
  border: black !important;
  border-width: 10px !important;
  border-radius: 10px !important;
  color: #f5ebeb !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px !important;
  transition-duration: 0.4s;
  margin-bottom: 10px;
}

.se-button:hover {
  background-color: none !important; /* Green */
  color: #f7aa00 !important;
}
